.login {
    background-color: black;
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
  .logo {
    height: 200px;
  }
  
  .login-link {
    background-color: #1db954;
    border-radius: 99px;
    color: white;
    font-weight: 800;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }